{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %} {% endblock meta %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>

    <title>Gung's Padel Shop</title>
</head>

<body>
    {% block header %}
    {% include 'navbar.html' %}
    {% endblock header %}
    <main class="container page">
        {% block content %} {% endblock content %}
    </main>
</body>
</html>