{% extends 'base.html' %}
{% block meta %}
<title>Edit Product - Gung's Padel Shop</title>
{% endblock meta %}

{% block content %}
<div class="container page" style="margin-top: 50px;">
  <div class="stack">
    <div class="title">Edit Product</div>
    <div class="card">
      <form method="POST" class="stack">
        {% csrf_token %}
        <div class="table-like">
          <table>
            {{ form.as_table }}
          </table>
        </div>
        <div>
          <a href="{% url 'main:show_main' %}" class="btn" style="color: var(--danger);">
            Cancel
          </a>
          <button class="btn primary" type="submit">Update Product</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}